.btn{
  outline : none;
  border: none;
  padding: 15px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-primary{
  color : var(--bs-sys-color-white);
  background-color : var(--bs-sys-color-dark);

}
