@use 'sass:map';

@use '_colors.scss';
@use '_bottom-sheet.scss';
@use '_button.scss';


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

